.img{
    margin-bottom: 50px;
}
.form-label{
    margin-top: 54px;
}
.item{
    margin-top: 55px;
    background-color: blue;
}
.item1{
    margin-top: 50px;
    background-color: aqua;
}